.cfg
*.swp
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.landscape/
.local/
.motd_shown
.npm/
.profile
.pylint.d/
.ssh/
.sudo_as_admin_successful
.viminfo
.wget-hsts
git/
tools/
tmp/
.fzf.bash
.vim/.netrwhist
.python_history
.vimspector.log
